.form-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.form-card {
  border: 1px solid rgba(56, 189, 248, 0.12);
  background: linear-gradient(
    168deg,
    rgba(56, 191, 248, 0) 0%,
    rgba(7, 7, 12, 0.98) 100%
  );
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  padding: 2em;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/5;

  button#login {
    grid-column: 1/2;
  }

  button#register {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 744px) {
  .form-page {
    grid-template-columns: repeat(8, 1fr);
  }

  .form-card {
    margin: 1em 0;
    border-radius: 1em;
    grid-column: 2/8;
  }
}
@media screen and (min-width: 1024px) {
  .form-page {
    grid-template-columns: repeat(8, 1fr);
  }

  .form-card {
    margin: 4em 0;
    border-radius: 1em;
    grid-column: 3/7;
  }
}

@media screen and (min-width: 1444px) {
  .form-page {
    grid-template-columns: repeat(12, 1fr);
  }

  .form-card {
    border-radius: 1em;
    grid-column: 5/9;
  }
}
